//noinspection CssUnknownTarget
@import "~boostrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

@import './buttons.scss';

body {
  height: 100vh;

  min-width: 1024px;
  min-height: 768px;

  background: #2c2c2c;

  font-family: 'Noto Sans JP', sans-serif;
  overflow: hidden;
}

#root {
  height: 100%;
}

.brightness {
  color: white;
}
